<div class="container-fluid">
  <div class="row g-3">

    <div class="col-12 col-md-6">

      <div class="main-section">
        <h1>We Are Glamify</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="#" class="btn btn-custom">Purchase Now</a>
      </div>
    </div>

    <div class="col-12 col-md-6">

      <div class="row g-3">

        <div class="elect col-5 me-2">
          <div class="category-card">
            <div class="overlayWomen">
              <h2>Electronics</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="#" class="btn btn-custom" routerLink="/electronics">Discover More</a>
            </div>
          </div>
        </div>

        <div class="clothes col-6  ">
          <div class="category-card">
            <div class="overlaymen">
              <h2>Clothes</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="#" class="btn btn-custom" routerLink="/clothes">Discover More</a>
            </div>
          </div>
        </div>

        <div class="furn col-5 me-2">
          <div class="category-card">
            <div class="overlayKids">
              <h2>Furniture</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="#" class="btn btn-custom" routerLink="/furniture">Discover More</a>
            </div>
          </div>
        </div>


        <div class="Acc col-6">
          <div class="category-card">
            <div class="overlayAcc">
              <h2>Accessories</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="#" class="btn btn-custom" routerLink="/accessories">Discover More</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
