.container-fluid {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
  url('../../../../public/shoping.webp') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 span {
  animation: dance 3s infinite;
}

.dancing-text {
  display: block;
  font-size: 6rem;
  margin-top: 5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 10px;
  margin-bottom: 3rem;

}

button {
  width: 10em;
  border-radius: 10px;
  padding: .5rem;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
  margin-top: 3rem;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
h2 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

h1 {
  text-align: center;
}

.dancing-text span {
  display: inline-block;
  animation: dance 2s infinite;
  text-shadow: red 1px 3px;
  text-align: center;
}

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.dancing-text span:nth-child(1) {
  animation-delay: 0s;
}

.dancing-text span:nth-child(2) {
  animation-delay: 0.1s;
}

.dancing-text span:nth-child(4) {
  animation-delay: 0.2s;
}

.dancing-text span:nth-child(5) {
  animation-delay: 0.3s;
}

.dancing-text span:nth-child(6) {
  animation-delay: 0.4s;
}

.dancing-text span:nth-child(8) {
  animation-delay: 0.5s;
}

.dancing-text span:nth-child(9) {
  animation-delay: 0.6s;
}

.dancing-text span:nth-child(10) {
  animation-delay: 0.7s;
}

.dancing-text span:nth-child(11) {
  animation-delay: 0.8s;
}

.dancing-text span:nth-child(12) {
  animation-delay: 0.9s;
}

